build/
*/__pycache__
analysis/.ipynb_checkpoints/
*.out
*.csv
example_forced_circuit
example_multilevel_performance
example_smoother_comparison
test_compute_residual
test_eigen_interop
test_sparse_repr
test_stress_direct
presentation.odp
.~lock.presentation.odp#
